<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="./css/main.css"/>
		<link href="./css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/simple-sidebar.css" rel="stylesheet"/>
		<link rel="shortcut icon" type="image/x-icon" href="./pic/favicon.ico">
		<title>SAPACA</title>
	</head>
	<body>
		<div class="navbar-fixed-top navbar-default navbar">
			<div class="container little-bit-top">
				<a href="#menu-toggle" class="menuicon-left" id="menu-toggle">
					<img src="./pic/menuicon.jpg" alt="Menuicon" style="width: 40px; height: 40px;"/>
				</a>
				<h1 class="text-center">SAPACA</h1>
				<h4 class="text-center">FaceRecognition</h4>
			</div>
		</div>

		<div id="wrapper" class="sidebar-top toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="./home.html"><img src="./pic/home_iconx40.png" alt="Home Icon"/>Home</a>
                </li>
                <li>
                    <a href="./face_detection.html">Face Detection</a>
                </li>
                <li>
                    <a href="#">Face Recognition</a>
                </li>
                <li>
                    <a href="./browse_images.html">Browse Images</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="./login.html">Logout</a>
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">	
                	<!-- <div class="col-lg-7" th:if="${}"> -->
                    	<img id="detectingResult" class="img-rounded col-lg-7" th:src="@{/get_current_image/}" alt="Picture"/>
                    <!-- </div>	
                    <div class="col-lg-7" th:unless="${}">
                    	<img id="detectingResult" class="img-rounded" src="./pic/Detecting.png" alt="Picture"/>
                    </div> -->
                    <div class="col-lg-5">
                        <h1>Additional Information </h1>
                      	<p th:if="${is_face_detected==false and faces_empty==false}">Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla 
                        Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla 
                        Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla Some Bla </p>
                        <div th:if="${is_face_detected}">
                            <form action="labelImage();" th:action="@{/next_face.html}" method="POST">
                                <p>Vorname:</p>     <input class="form-control" type="text" id="vorname" name="firstName"></input> <br></br>
                                <p>Nachname:</p>    <input class="form-control" type="text" id="nachname" name="lastName"></input> <br></br>
                                <p>Alter:</p>    <input class="form-control" type="number" id="alter" name="age"></input> <br></br>
                                <p>Nationalität:</p><select class="form-control" id="nationalitaet" name="nationality">
                                                    <option>Deutschland</option>
                                                    <option>England</option>
                                                    <option>USA</option>
                                                    <option>Frankreich</option>
                                                    <option>Sonstiges</option>
                                                </select> <br></br>
                                <p>Location:</p>    <input class="form-control" type="text" id="location" name="location"></input> <br></br>
                                <input class="btn btn-default" type="submit" id="facedetected" name="faceDetected" value="Speichere Daten"></input>
                                <input class="btn btn-default" type="submit" id="nofacedetected" name="noFaceDetected" value="Ist kein Gesicht!"></input>
                                <input class="btn btn-default" type="submit" id="bindtogooglesearch" name="bindtogooglesearch" value="Suche in Google Search"></input>     
                            </form>
                    </div>
                    <p th:if="${faces_empty}">Alle erkannten Gesichter wurden bereits angezeigt.</p>
                </div>
                <div class="row">
                    <p class=" col-lg-7 webcam-info">Webcam Information</p>
                </div>
                <!--
                <div class="row">
                    <form action="#" th:action="@{/uploadImage}" th:object="${uploadImage}" method="POST" class="class="btn btn-default col-lg-7">
                       <input type="file"  accept="image/*" onclick="uploadImage();">Upload Image</input>
                    </form>
                    <form class="class="btn btn-default col-lg-7">
                    	 <input type="button">Start Camera  <img src="./pic/camera_icon.png" alt="Camera Icon"/></input>
                    </form>
                </div>
                -->
                <form action="uploadImage();" th:action="@{/face_detection.html}" method="POST" enctype="multipart/form-data">
       				<input type="file" name="uploadedFile" accept="image/*" ></input>
      				<input type="submit" ></input>
    			</form>
            </div>
        </div>
	 </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	</body>
</html>