<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="./css/main.css"/>
		<link href="./css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/simple-sidebar.css" rel="stylesheet"/>
		<title>SAPACA</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart', 'geochart']});
            google.charts.setOnLoadCallback(drawStuff);
            function drawStuff() {

                /* Draw PieChart */
                var data = google.visualization.arrayToDataTable([
                    ['Amount', 'Gender'],
                    ['Man',         6],
                    ['Woman',       4],
                    ['Unkown',      2]
                ]);

                var options = {
                    title: 'Gender'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);

                /* Draw Bar */
                var data = google.visualization.arrayToDataTable([
                    ['Länder', 'Anzahl Personen aus dem Land'],
                    ['Germany', 2],
                    ['United States', 3],
                    ['England', 2],
                    ['France', 6]
                ]);

                var options = {
                    title: 'Personen aus verschiedenen Ländern'
                };
                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
                chart.draw(data, options);
            }
        </script>
	</head>
	<body>
		<div class="navbar-fixed-top navbar-default navbar">
			<div class="container little-bit-top">
				<a href="#menu-toggle" class="menuicon-left" id="menu-toggle">
					<img src="./pic/menuicon.jpg" alt="Menuicon" style="width: 40px; height: 40px;"/>
				</a>
				<h1 class="text-center">SAPACA</h1>
				<h4 class="text-center">FaceRecognition</h4>
			</div>
		</div>

		<div id="wrapper" class="sidebar-top toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="./home.html"><img src="./pic/home_iconx40.png" alt="Home Icon"/>Home</a>
                </li>
                <li>
                    <a href="./face_detection.html">Face Detection</a>
                </li>
                <li>
                    <a href="./browse_images.html">Browse Images</a>
                </li>
                <li>
                    <a href="./statistics.html">Statistics</a>
                </li>
                <li>
                    <a href="./about_us.html">About Us</a>
                </li>
                <li>
                    <a href="./login.html">Logout</a>
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="center-home">
                        <h1 class="text-center">Statistics</h1>
                        <div class="statistics">
                            <table class="table">
                                <tr>
                                    <th>Anzahl Images:</th>
                                    <th>Durchschnittliches Alter:</th>
                                    <th>Genauigkeit der Gesichtserkennung:</th>
                                    <th>Durchschnittliche Berechnungszeit der Gesichtserkennung:</th>
                                </tr>
                                <tr>
                                    <td>X</td>
                                    <td>X</td>
                                    <td>X</td>
                                    <td>X</td>
                                </tr>
                            </table>
                        </div>
                        <div id="piechart" class="chart"></div>
                        <div style="border-bottom: 1px solid #C5C5C5"></div>
                        <div id="regions_div" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	</body>
</html>