.distance-top{
	margin-top: 180px;
}

.center {
    margin: auto;
    width: 300px;
    padding: 10px;
}

.little-bit-top{
	margin-top: 10px;
}

.sidebar-top{
	margin-top: 108px;
}

.menuicon-left{
	margin-left: 30px;
}